src/main/resources/health-card.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="UserSign">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="p_Orgid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="p_OrgPass" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="p_GetBasic" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="p_PassCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="p_Random" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="p_Token" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="p_idno" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="p_unit" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UserSignResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserSignResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="UserSignSoapIn">
    <wsdl:part name="parameters" element="tns:UserSign" />
  </wsdl:message>
  <wsdl:message name="UserSignSoapOut">
    <wsdl:part name="parameters" element="tns:UserSignResponse" />
  </wsdl:message>
  <wsdl:portType name="wsAuthGSPSoap">
    <wsdl:operation name="UserSign">
      <wsdl:input message="tns:UserSignSoapIn" />
      <wsdl:output message="tns:UserSignSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="wsAuthGSPSoap" type="tns:wsAuthGSPSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UserSign">
      <soap:operation soapAction="http://tempuri.org/UserSign" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="wsAuthGSPSoap12" type="tns:wsAuthGSPSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UserSign">
      <soap12:operation soapAction="http://tempuri.org/UserSign" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="wsAuthGSP">
    <wsdl:port name="wsAuthGSPSoap" binding="tns:wsAuthGSPSoap">
      <soap:address location="https://icx.nhi.gov.tw/orgverify1/wsauthgsp.asmx" />
    </wsdl:port>
    <wsdl:port name="wsAuthGSPSoap12" binding="tns:wsAuthGSPSoap12">
      <soap12:address location="https://icx.nhi.gov.tw/orgverify1/wsauthgsp.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>